* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    Figtree-Regular,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

header {
  width: 100%;
  height: 80px;
  margin: 0, 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.logo img {
  width: 53px;
}

nav {
  height: 35px;
  display: flex;
  gap: 28px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

nav a {
  box-sizing: content-box;
  text-decoration: none;
  color: #282c3f;

  border-bottom: 4px solid white;
}

nav a:hover {
  border-bottom: 4px solid red;
}

nav a sup {
  color: red;
}

.searchBar {
  display: flex;
  background: #f5f5f6;
}

.searchBar .searchBtn {
  border-radius: 4px 0 0 4px;
  padding: 8px;
}

.searchBar .searchInput {
  width: 400px;
  background: #f5f5f6;
  border: 1px solid #f5f5f6;
  color: #696e79;
  border: none;
  padding: 10px;
  flex-grow: 1;
  border-radius: 0 4px 4px 0;
}

.action {
  display: flex;
}

.action .actionBtn {
  display: flex;
  padding: 0 10px;
  text-align: center;
  flex-direction: column;
  cursor: pointer;
}

.banner img {
  margin: 90px 10px 50px;
  width: 100vh;
}

.risingStars,
.grand {
  margin: 20px;
}

.imags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  cursor: pointer;
}

.imags img {
  width: 200px;
}

footer .help {
  margin: 20px 40px;
  display: flex;
  justify-content: space-around;
}

footer h2 {
  color: #282c3f;
  font-size: 12px;
  font-weight: 700;
  margin: 5px 0 10px;
}

footer p {
  color: #696b79;
  display: block;
  font-size: 15px;
  padding-bottom: 5px;
  cursor: pointer;
  line-height: normal;
}

.copy {
  text-align: center;
}
